<div class="container">
  <h1 class="title">Currency Converter</h1>
  <form class="form" autocomplete="off">
    <div class="input-select-group">
      <app-currency-select
        name="select"
        [value]="formData.from.currency"
        [options]="options"
        [disabledOption]="formData.to.currency"
        (onChange)="updateCurrency('to', $event)"
      />
      <app-currency-input [value]="formData.from.value" (onChange)="updateValue('to', $event)" />
    </div>
    <div class="input-select-group">
      <app-currency-select
        name="select"
        [value]="formData.to.currency"
        [options]="options"
        [disabledOption]="formData.from.currency"
        (onChange)="updateCurrency('from', $event)"
      />
      <app-currency-input [value]="formData.to.value" (onChange)="updateValue('from', $event)" />
    </div>
  </form>
</div>
