<div class="container">
  <h1 class="title">Currency Converter</h1>
  <form class="form" autocomplete="off" [formGroup]="form">
    <div class="input-select-group">
      <app-currency-select
        formControlName="currencyFrom"
        [options]="options"
        [hotOptions]="hotOptions"
        [disabledOption]="form.get('currencyTo')?.value"
      />
      <app-currency-input formControlName="valueFrom" />
    </div>
    <div class="input-select-group">
      <app-currency-select
        formControlName="currencyTo"
        [options]="options"
        [hotOptions]="hotOptions"
        [disabledOption]="form.get('currencyFrom')?.value"
      />
      <app-currency-input formControlName="valueTo" />
    </div>
  </form>
</div>
