<div class="select">
  <button class="select-button" (click)="toggleDropdown()">
    <span class="select-value">{{ currentValue }}</span>
  </button>

  <div class="dropdown" [ngClass]="{ show: isDropdownOpen }">
    <ul class="dropdown-list" role="listbox">
      <li
        *ngFor="let opt of options"
        [ngClass]="{
          selected: currentValue === opt,
          disabled: disabledOption === opt
        }"
        (click)="select(opt)"
        role="option"
      >
        {{ opt }}
      </li>
    </ul>
  </div>

  <div class="hot-options">
    <button
      [ngClass]="{
        selected: currentValue === opt,
        disabled: disabledOption === opt
      }"
      class="hot-option"
      *ngFor="let opt of hotOptions"
      (click)="select(opt)"
    >
      {{ opt }}
    </button>
  </div>
</div>
