@import "./styles/fonts.scss";
@import "./styles/colors.scss";
@import "./styles/reset.scss";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  background-color: $background;
  color: $text-primary;
  font-size: 20px;
  position: relative;
}

app-root {
  height: 100%;
  display: flex;
  flex-direction: column;
}
